// Place all the styles related to the Levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  box-sizing: border-box;
}

.r, .w, .j {
  border-radius: 30px 60px 18px 32px;

  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.j {
  background: linear-gradient(#faf362, #947e25);
}

.r {
  background: linear-gradient(#90909a, #5f5f75);
}

.w {
  background: rgb(24, 33, 54);
}

.frog {
  width: 60px;
  margin: 0;
  padding: 0;
}

.move {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #999999;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}