body {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  margin: 0;
  padding: 0;
}

input, select {
  border: none;
  background: none;
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
}

h1, h2 {
  margin: 0;
}

.container {
  width: 80vh;
  min-width: 1000px;
  margin: 80px auto;
  position: relative;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

h1 {
  font-size: 3em;
  margin: 5px 0;
}

.plus {
  font-size: 3em;
}

.list-row {
  font-size: 1.4em;
  padding: 10px 0;
}

